export JWT_SECRET=
export JWT_ISSUER=
export JWT_AUDIENCE=
export AUTH_TELEGRAM_TOKEN=
export AUTH_FACEBOOK_CLIENTID=
export AUTH_FACEBOOK_CLIENTSECRET=
export AUTH_FACEBOOK_CALLBACKURLBASE=
export JWT_EXPIRATION= # Optional. Defaults to 1d
